<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.fas">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.location.gps" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:name=".core.MainApp"
        android:icon="@drawable/agakhan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashscreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="im.dino.dbinspector.activities.DbInspectorActivity">
            <intent-filter tools:node="removeAll">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.EndingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tool1.InfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionD02Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionD03Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionD04Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionD05Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionEActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionFActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionGActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool1.SectionHActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1">

        </activity>
        <activity
            android:name=".ui.tool1.SectionIActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool2.SectionA_tool_2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool2.SectionB_tool_2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool2.SectionC_tool_2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.tool2.SectionD_tool_2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
    </application>

</manifest>